$primary :#1890ff;
$primary-hover:#0280b3;


//text

$text-light:#fff;

//Background

$background-dark: #001b35;
$background-grey: #f0f3f4;
$background-dark-web:#16212b;

//BORDER

$border-grey: #808080;

//stay

$success: #84b84c;
$error: #9f3a38;


// Social colors

$youtube: #cd201F;
$twitter: #1da1f2;
$facebook: #365998;
$linkedin:#0077b5;



